@media (max-width:460px) {

.name-container {
  h1 {
    letter-spacing: 3px;
    @include font-size(30);
    padding: 8px 0;
    padding-left: 20px;
  }
}

}


@media (max-width:430px) {

#main-wrapper {
  .term-menu-container {
    text-align: center;
    width: 100%;
    vertical-align: top;
    a {
      width: 31%;
      min-height: 40px;
      vertical-align: top;
    }
  }
}


}


@media (max-width:405px) {

#main-wrapper {
  .term-menu-container {
    text-align: center;
    width: 100%;
    vertical-align: top;
    a {
      width: 31%;
      min-height: 40px;
      vertical-align: top;
    }
  }
}

#footer {
  .container {
    .right {
      padding-top: 20px;
      text-align: center;
      a i {
        @include font-size(200);
        &:hover {
          @include font-size(200);
        }
      }
    }
  }
}


}